Source: ros-jade-dynamixel-controllers
Section: misc
Priority: extra
Maintainer: Antons Rebguns <arebgun@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-message-generation
Homepage: http://ros.org/wiki/dynamixel_controllers
Standards-Version: 3.9.2

Package: ros-jade-dynamixel-controllers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-actionlib, ros-jade-control-msgs, ros-jade-diagnostic-msgs, ros-jade-dynamixel-driver, ros-jade-dynamixel-msgs, ros-jade-rospy, ros-jade-std-msgs, ros-jade-trajectory-msgs
Description: This package contains a configurable node, services and a spawner script to start, stop and restart one or more controller plugins. Reusable controller types are defined for common Dynamixel motor joints. Both speed and torque can be set for each joint. This python package can be used by more specific robot controllers and all configurable parameters can be loaded via a yaml file.
